.brand-image {
  width: 15.9rem;
  margin-top: 0.2rem;
}

.brand-name {
  margin-left: 0.6rem;
  margin-top: 0.6rem;
}

.brand-image,
.hamburger {
  margin-bottom: 0.6rem;
}

@media (max-width: 360px) {
  .brand-image {
    width: 14.9rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 285px) {
  .brand-image {
    width: 10rem;
    margin-top: 0.2rem;
  }
}
