.brand-container {
  gap: 0;
}

.brand-text {
  margin-top: 0.5rem;
  padding-top: 0.2rems;
}

.brand-logo {
  padding-right: 0rem !important;
}

.iam-section {
  padding-top: 2rem;
}

@media (max-width: 360px) {
  .brand-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 285px) {
  .brand-text {
    font-size: 1rem;
  }
}

.brand-name {
  font-family: "Exo", sans-serif !important;
  color: #3f3d56;
}
