.navigation {
  margin-top: 0.6rem;
}

.navigation-menu-lg {
  padding-top: 0.6rem;
}

.navigation-contact {
  padding-top: 0.3rem;
}

.hamburger {
  width: 1.8rem;
}

.hamburger-btn {
  padding-right: 0.2rem !important;
}
