.link:hover {
  text-decoration: underline !important;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.7rem;
}

.hamburger {
  margin: 0px !important;
  width: 30px;
}

.no-outline {
  border: none !important;
}

.no-outline:focus {
  border: none !important;
}

.navbar-toggler:focus {
  border: none !important;
}

.contact {
  padding-top: 2px !important;
}
