.about {
  padding-top: 1rem;
}

.iam {
  padding-right: 0.4rem;
}

.hobbies {
  margin-top: 1rem;
}

@media (min-width: 200px) {
  .banner {
    width: 9rem;
  }
}

@media (min-width: 500px) {
  .banner {
    width: 12rem;
  }
}

@media (min-width: 990px) {
  .banner {
    width: 35rem;
  }
  .value-proposition {
    padding-top: 2rem;
  }
}
