.jobs-component {
  margin-top: 1rem;
}

.job-container {
  gap: 0;
}

.job-title {
  margin-top: 0.3rem;
  padding-top: 0.2rems;
  font-size: large;
}

.company-logo {
  padding-right: 0rem !important;
  width: 3.5rem;
}

.job-description {
  padding: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0 !important;
}
