$black: #262634;
$true-black: #151527;
$green: #20c997;
$pink: #e83e8c;

.dark-section {
  background-color: #f8f9fa;
  color: $black;
}

.green {
  color: #20c997;
}

.pink {
  color: #e83e8c;
}

body {
  color: $black;
}

a {
  color: $black !important;
  cursor: pointer;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}
