.App {
}

body,
footer {
  font-family: "Century Gothic", sans-serif !important;
  font-size: 1.1rem !important;
  color: #141935;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Century Gothic 700", sans-serif !important;
}

.light-section {
  color: #141935;
}

.dark-section {
  background-color: #141935;
  color: whitesmoke;
}

.clickable:hover {
  border: #141935 solid 0.2rem;
  border-radius: 0.6rem;
  padding: 0.125rem !important;
  cursor: pointer;
}

.pink {
  color: #e83e8c;
}
